<div class="container">
    <div>
        <h1>Assure - RFID Monitor Maintenance</h1>

        <form (ngSubmit)="onSubmit()" #rfidMonitorForm="ngForm">
            <div class="form-group">
                <label for="hospital">Hospital</label>
                <select class="form-control" required
                        (change)="onGetRfidMonitor(hospital.value)"
                        [(ngModel)]="model.entityId"
                        ngControl="hospital" #hospital="ngForm">
                    <option *ngFor="#hospital of hospitals" [value]="hospital.entity_id">{{hospital.entity_code}}
                    </option>
                </select>
                <div [hidden]="hospital.valid" class="alert alert-danger">
                    Please select a Hospital
                </div>
            </div>
            <br><br>
            <div>
                <label for="code" [hidden]="!hospitalSelect">Monitor Code: </label>
                <input [(ngModel)]="model.rfidMonitorCode" placeholder="Code" [hidden]="!hospitalSelect">
            </div>
            <div>
                <label for="description" [hidden]="!hospitalSelect">Description: </label>
                <input [(ngModel)]="model.description" placeholder="Description" [hidden]="!hospitalSelect">
            </div>

            <button type="submit" class="btn btn-default" [hidden]="!hospitalSelect"
                    [disabled]="!rfidMonitorForm.form.valid">Submit
            </button>
        </form>


    </div>


    <div [hidden]="!rfidMonitorForm.form.valid">
        <br>

        <h2>Existing RFID Monitors</h2>
        <br>

        <table border="1">
            <thead>
            <td>Code</td>
            <td>Description</td>
            <td>Entity</td>
            </thead>
            <tr *ngFor="#rfidMonitor of rfidMonitors">
                <td>{{rfidMonitor.rfid_monitor_code}}</td>
                <td>{{rfidMonitor.description}}</td>
                <td>{{rfidMonitor.entity_id}}</td>
            </tr>
        </table>

    </div>

</div>

