<div class="container">

    <div>
        <h1>Assure</h1>
        <h2>RFID Monitor Maintenance</h2>

        <form #hospital="ngForm">

            <div class="form-group">
                <label for="hospital">Hospital</label>
                <select class="form-control" required
                        (change)="onGetRfidMonitor(hospital.value)"

                        ngControl="hospital" #hospital="ngForm">
                    <option *ngFor="#hospital of hospitals" [value]="hospital.entity_id">{{hospital.entity_code}}
                    </option>
                </select>
                <div [hidden]="hospital.value" class="alert alert-danger">
                    Please select a Hospital
                </div>
            </div>
        </form>
    </div>


    <div [hidden]="!hospitalSelect">

        <div *ngIf="selectedRfidMonitor && editMode != ''">
            <form (ngSubmit)="onSubmit()" #rfidMonitorForm="ngForm">

                <div hidden><label>rfid_monitor_id: </label>{{selectedRfidMonitor.rfid_monitor_id}}</div>
                <div hidden><label>entity id: </label>{{selectedRfidMonitor.entity_id}}</div>

                <div *ngIf="editMode == 'insert'"><h2>Create new RFID Monitor</h2></div>
                <div *ngIf="editMode == 'update'"><h2>Edit existing RFID Monitor</h2></div>

                <div class="items">
                    <label class="badge" for="monitorCode" >Monitor Code</label>
                    <input name="monitorCode"  [(ngModel)]="selectedRfidMonitor.rfid_monitor_code" placeholder="Monitor Code"  required>
                </div>
                <div class="items">
                    <label class="badge" for="description" [hidden]="!hospitalSelect">Description</label>
                    <input name="description"  [(ngModel)]="selectedRfidMonitor.description" placeholder="Description"  required>
                </div>

                <button type="submit" class="btn btn-default"
                        [disabled]="!rfidMonitorForm.form.valid">Save
                </button>
                <button class="btn btn-default"
                        (click) = "onCancelMonitorEdit()">Cancel
                </button>
            </form>
        </div>

        <h2>Existing RFID Monitors</h2><button (click) = "onNewMonitor(hospital.value)" name="newMonitor">Create New</button>
        <br>

        <ul class="items">
            <li *ngFor="#rfidMonitor of rfidMonitors"
                [class.selected]="rfidMonitor === selectedRfidMonitor"
                (click)="onSelect(rfidMonitor)">
                <span class="badge" >{{rfidMonitor.rfid_monitor_code}}</span> {{rfidMonitor.description}}
            </li>
        </ul>


    </div>

</div>

